/* src/components/ImagePreview.module.css */
.previewContainer {
  margin-top: 1rem;
}

.imageBox {
  margin-top: 1rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 8px;
}

.imageBox img {
  max-width: 100%;
  height: auto;
}
