.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.levelCol {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.levelBtn {
  width: 70px;
  padding: 6px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  cursor: pointer;
}

.levelBtn:hover {
  background: #e6f7ff;
}

.active {
  background: #d0ebff;
  border-color: #1890ff;
}
